//
//  Secrets.xcconfig
//  MoviesApp
//
//  Created by Khaled-Circle on 19/05/2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
API_Read_Access_Token=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhZTljNDZhOWU0ZmNlOGIxZmVmMzk2OWI1NGRkYzgwOCIsIm5iZiI6MTc0Nzc1MzY5Ni45MDIwMDAyLCJzdWIiOiI2ODJjOWFlMDE0NTQ4ODlmNGI4YzBkOGUiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.v2LhpKdayJ8HRUwsKa6ylPAsUhECGEt0-SXZCsN9eh4
API_KEY=ae9c46a9e4fce8b1fef3969b54ddc808
